.footer__scroll
	.container.footer__container
		.row
			.col-lg-2.col-md-4.col-sm-4.col-xs-8
				.footer__title
					.footer__title-text НОВЕЙШЕ
					.footer__title-description Учитывайтесь живейше о насущном

			.col-lg-6.col-md-4.hidden-sm
				.footer__anchor
					span КЛИКНИ ЗДЕСь
		.row
			.col-lg-5.col-md-5
				.footer__description
					p
						| Проект строго посвящен современной независимой черной и белой культурам
						| подмосковья и Новой Москвы.
					p
						| Если у вас будут идеи по развитию проекта или желание проинвестировать,
						| напишите на наш корпоративный адрес :
						a.footer__description-link(href="mailto:mikha@mail.ru") mikha@mail.ru

.footer__place
	.container.footer__container
		.row
			.col-lg-5.col-md-5.col-sm-8.col-xs-8
				.footer__title.footer__title--inplace
					.footer__title-text НОВЕЙШЕ
					.footer__title-description Учитывайтесь живейше о насущном

				.footer__description
					p
						| Проект строго посвящен современной независимой черной и белой культурам
						| подмосковья и Новой Москвы.
					p
						| Если у вас будут идеи по развитию проекта или желание проинвестировать,
						| напишите на наш корпоративный адрес :
						a.footer__description-link(href="mailto:mikha@mail.ru") mikha@mail.ru



